@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/variables';

.cart {
  padding: 20px;
  margin-top: 30px;
  background-color: $gray-dark;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: $gray-middle;
  }

  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__section:first-child {
    justify-content: flex-start;
  }

  &__section:last-child {
    width: 30%;
  }

  // IMAGE
  &__item-image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-right: 20px;
    background-color: $black-dark;
  }

  &__item-image {
    height: 50px;
    width: 60px;
  }

  // NAME
  &__item-name {
    @include text(14px, 600, uppercase, none, $gray-dark);
  }

  // CONTROLS
  &__item-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 110px;
  }

  &__item-icon-box {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $nuclear-middle;
    border: 1px solid $gray-dark;
    border-radius: 5px;
    transition: $transition;
    cursor: pointer;
  }

  &__item-icon-box:hover {
    background-color: $gray-dark;
    border: 1px solid $nuclear-middle;
  }

  &__item-icon {
    width: 20px;
    height: 20px;
    fill: $gray-dark;
    transition: $transition;
  }

  &__item-icon-box:hover .cart__item-icon {
    fill: $nuclear-middle;
  }

  &__item-quantity {
    @include text(16px, 600, none, none, $gray-dark);
  }

  // PRICE
  &__item-price {
    @include text(16px, 600, none, none, $gray-dark);
  }

  // ACTIONS
  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__message {
    text-align: center;
    @include text(14px, 600, uppercase, none, $gray-light);
  }
}