@import '../../scss/colors';
@import '../../scss/variables';
@import '../../scss/mixins';

.checkbox {
  width: 120px;
  margin-bottom: 10px;
  border: 1px solid $gray-middle;
  border-radius: 5px;

  &__label {
    //width: 88%;
    display: flex;
    align-items: center;
    position: relative;
    padding: 5px;
    //border: 1px solid $gray-middle;
    //border-radius: 5px;
    cursor: pointer;
  }

  &__label-text {
    margin-left: 25px;
    @include text(16px, 400, none, none, $gray-light);
  }

  &__element {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__checkmark {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    background-color: $gray-middle;
  }

  &__checkmark:after {
    content: '';
    opacity: 0;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 3px;
    background-color: $nuclear-middle;
    transition: $transition;
  }

  &__element:checked ~ .checkbox__checkmark:after {
    opacity: 1;
  }

  &__error {
    @include text(13px, 400, none, none, $red-middle);
  }
}