@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/variables';

.control-panel {
  padding: 20px 0;
  background-color: $gray-dark;

  & .container {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 650px) {
      flex-direction: column;
    }
  }

  // SEARCH BOX
  &__search-box {
    margin-bottom: 20px;
  }

  // FILTER BOX

  // CATEGORIES BOX
  &__categories-box {

  }

  &__categories-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  &__categories-list-item {
    @include text(14px, 600, uppercase, none, $gray-dark);
    padding: 8px 18px;
    background-color: $nuclear-middle;
    border: 1px solid $nuclear-middle;
    border-radius: 5px;
    transition: $transition;
    cursor: pointer;
  }

  &__categories-list-item.isActive {
    color: $gray-dark;
    background-color: $nuclear-dark;
    border: 1px solid $nuclear-dark;
  }

  &__categories-list-item:hover {
    color: $nuclear-middle;
    background-color: $gray-dark;
    border: 1px solid $nuclear-middle;
  }

  &__categories-list-item:not(:last-child) {
    margin-right: 20px;
  }
}