@import '../../scss/colors';
@import '../../scss/variables';
@import '../../scss/mixins';

.contact-form {
  width: 300px;
  margin: 0 auto;

  &__section {
    margin-bottom: 15px;
  }

  &__section-heading {
    @include text(16px, 400, none, none, $gray-light);
  }

  &__section.checkboxes div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}