@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/variables';

.header {
  padding: 20px 0;
  background-color: $gray-dark;
  border-bottom: 2px solid $nuclear-middle;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include container();
  }

  &__section {
    display: flex;
    align-items: center;
  }

  &__section:last-child {
    justify-content: space-between;
  }

  &__logo-box {
    margin-right: 50px;
    transition: $transition;

    @media (max-width: 768px) {
      margin-right: 20px;
    }

    @media (max-width: 575px) {
      margin-right: 10px;
    }
  }

  &__logo {
    width: 70px;
    height: 70px;

    @media (max-width: 768px) {
      width: 50px;
      height: 50px;
    }
  }

  &__heading {
    @include text(36px, 700, uppercase, none, $nuclear-middle);

    @media (max-width: 768px) {
      font-size: 28px;
    }

    @media (max-width: 575px) {
      font-size: 24px;
    }

    @media (max-width: 425px) {
      font-size: 22px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: $nuclear-middle;
    border: 1px solid $gray-dark;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition;
  }

  &__icon-box:not(:last-child) {
    margin-right: 20px;

    @media (max-width: 768px) {
      margin-right: 10px;
    }

    @media (max-width: 425px) {
      margin-right: 5px;
    }
  }

  &__icon-box:hover {
    border: 1px solid $nuclear-middle;
    background-color: $gray-dark;

    .header__icon {
      fill: $nuclear-middle;
    }
  }

  &__icon {
    fill: $gray-dark;
  }

  &__icon-box.burger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: $nuclear-middle;
    border: 1px solid $gray-dark;
    border-radius: 0;
    cursor: pointer;
    transition: $transition;
  }

  &__icon-box.burger:hover {
    border: 1px solid $nuclear-middle;
    background-color: $gray-dark;

    .header__icon {
      fill: $nuclear-middle;
    }
  }
}