@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/variables';

.header {
  padding: 20px 0;
  background-color: $gray-dark;

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include container();
  }

  &__section {
    display: flex;
    align-items: center;
  }

  &__section:last-child {
    justify-content: space-between;
  }

  // HEADER: LOGO
  &__logo-box {
    margin-right: 100px;
  }

  &__logo {
    width: 70px;
    height: 70px;
  }

  &__heading {
    @include text(36px, 700, uppercase, none, $nuclear-middle);
  }

  &__actions {
    display: flex;
    align-items: center;
  }

  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: $nuclear-middle;
    border: 1px solid $gray-dark;
    border-radius: 50%;
    cursor: pointer;
    transition: $transition;
  }

  &__icon-box:not(:last-child) {
    margin-right: 20px;
  }

  &__icon-box:hover {
    border: 1px solid $nuclear-middle;
    background-color: $gray-dark;

    .header__icon {
      fill: $nuclear-middle;
    }
  }

  &__icon {
    fill: $gray-dark;
  }
}