@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/variables';

.footer {
  padding: 20px 0;
  background-color: $gray-dark;
  border-top: 2px solid $nuclear-middle;

  & .container {
    @include container();
  }

  &__copyrights {
    text-align: center;
    letter-spacing: 5px;
    @include text(22px, 600, uppercase, none, $nuclear-middle);
  }
}