@import '../../scss/colors';
@import '../../scss/mixins';
@import '../../scss/variables';

.welcome-page {
  & .container {
    @include container();
  }

  &__section {
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    background-color: $gray-dark;
  }

  &__heading {
    @include text(18px, 600, uppercase, none, $nuclear-middle);
    text-align: center;
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 30px;
  }

  &__paragraph {
    margin-bottom: 10px;
    text-align: center;
    @include text(14px, 400, none, none, $gray-light);
  }

  &__images-box {
    display: flex;
    justify-content: space-between;
  }

  &__image {
    width: 300px;
    height: 250px;
  }

  &__buttons-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: block;
    padding: 8px 10px;
    transition: all 0.3s ease;
    background-color: $nuclear-middle;
    border: 1px solid $gray-dark;
    border-radius: 5px;
    @include text(16px, 600, uppercase, none, $gray-dark);
  }

  &__link:hover {
    color: $nuclear-middle;
    background-color: $gray-dark;
    border: 1px solid $nuclear-middle;
  }
}
