@import '../../scss/colors';
@import '../../scss/variables';
@import '../../scss/mixins';

.radio {
  &__label {
    position: relative;
    cursor: pointer;
  }

  &__label-text {
    margin-left: 25px;
  }

  &__element {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $gray-middle;
  }

  &__checkmark:after {
    content: '';
    opacity: 0;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 50%;
    background-color: $nuclear-middle;
    transition: $transition;
  }

  &__element:checked ~ .radio__checkmark:after {
    opacity: 1;
  }

  &__error {

  }
}