@import './scss/colors';
@import './scss/mixins';

.application {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;

  &__main {
    background-color: $gray-middle;
  }

}